<!DOCTYPE html>
<html>
<head>
  <title>Samp12 Posts</title>
  <%= stylesheet_link_tag    "applications", :media => "all" %>
  <%= javascript_include_tag "applications" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
